@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Lobster+Two:wght@700&display=swap");
:root {
  --primary: #fe5d37;
  --light: #FFF5F3;
  --dark: #103741;
  --dark-grey: #74787C;
  --semi-white: rgba(255,255,255,0.5);
  --green: #198754;
  --bg-green:#e1f0e8;
  --yellow:rgb(255, 193, 7);
  --bg-yellow:#fff9e4;
  --bleu: rgb(13, 202, 240);
  --bg-bleu:#e3f6fc;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
  font-family: "Heebo", sans-serif;
  font-weight: 400;
}

h2 {
  color: var(--dark);
  font-size: 2.5rem;
  padding-bottom: 1.7rem;
}

p {
  color: var(--dark-grey);
  margin-bottom: 1.2rem;
}

ul {
  list-style: none;
}

button {
  background-color: var(--primary);
  color: white;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 1em;
  border-color: transparent;
  border-radius: 20px;
  padding: 0.1rem 1rem;
  height: 3.5rem;
  cursor: pointer;
}
button:hover {
  background-color: #fc6e4e;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--primary);
}

.big-container {
  max-width: 1330px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.container {
  padding: 0.5rem 2.5rem;
}

.title {
  font-family: "Lobster Two", cursive;
  font-weight: 700;
}

.social-media {
  display: flex;
}
.social-media a {
  display: inline-block;
  color: white;
  border: 1px solid var(--semi-white);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media a i {
  padding-right: 0;
}
.social-media a:hover {
  background-color: var(--primary);
}

.thick-border {
  border: 15px solid var(--light);
  transition: 0.4s;
}
.thick-border:hover {
  border: 15px solid var(--primary);
  transition: 0.3s;
}

.top-bottom-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  text-decoration: none;
  color: var(--dark);
}
.header .logo i {
  font-size: 40px;
}
.header .logo a {
  font-size: 2.5rem;
  color: var(--primary);
}
.header nav .main-nav {
  display: flex;
  justify-content: space-evenly;
  color: var(--dark);
  font-weight: 500;
  width: 520px;
}
.header nav .main-nav .current {
  color: var(--primary);
}
.header nav .main-nav .pages {
  cursor: pointer;
  position: relative;
}
.header nav .main-nav .pages .extra-menu {
  display: none;
}
.header nav .main-nav .pages .display-extra-menu {
  display: block;
  position: absolute;
  top: 1.3rem;
  left: -1rem;
  background-color: white;
  padding: 3rem 0 1rem 0;
  width: 170px;
  border-radius: 15px;
}
.header nav .main-nav .pages .display-extra-menu li {
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}
.header nav .main-nav .pages .display-extra-menu li a {
  font-weight: normal;
  padding-left: 1rem;
}
.header nav .main-nav .pages .display-extra-menu li a:hover {
  color: var(--dark);
}
.header nav .main-nav .pages .display-extra-menu li:hover {
  background-color: #e5e7e8;
}
.header nav .main-nav .pages .display-extra-menu li:active {
  background-color: var(--primary);
}
.header nav .main-nav .pages .display-extra-menu li:active a {
  color: white;
}
.header nav .main-nav .pages .display-extra-menu li.current-2 {
  background-color: var(--primary);
}
.header nav .main-nav .pages .display-extra-menu li.current-2 a {
  color: white;
}
.header .join-us {
  height: 2.5rem;
  width: 8rem;
}
.header .join-us a {
  color: white;
}

.header.container {
  padding: 1.2rem 2.8rem;
}

.hero-section {
  min-height: 300px;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("../img/carousel-1.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.hero-section::before {
  content: "";
  display: block;
  background-image: url("../img/bg-header-top.png");
  background-repeat: repeat-x;
  height: 10px;
}
.hero-section::after {
  content: "";
  display: block;
  background-image: url("../img/bg-header-bottom.png");
  background-repeat: repeat-x;
  height: 19px;
}
.hero-section .container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section h1 {
  font-size: 4.5rem;
}
.hero-section p {
  color: white;
}

.about-section {
  color: var(--dark);
  display: flex;
}
.about-section .left-side {
  flex-basis: 50%;
  margin-top: 10rem;
  padding-right: 2rem;
}
.about-section .left-side .more-ceo {
  display: flex;
  align-items: center;
}
.about-section .left-side .more-ceo button {
  flex-basis: 30%;
  border-radius: 30px;
}
.about-section .left-side .more-ceo .ceo {
  flex-basis: 65%;
}
.about-section .left-side .more-ceo .ceo img {
  height: 45px;
  border-radius: 50%;
  float: left;
  margin-left: 8rem;
  margin-right: 10px;
}
.about-section .left-side .more-ceo .ceo .ceo-name {
  color: var(--primary);
  font-weight: 500;
}
.about-section .left-side .more-ceo .ceo .ceo-designation {
  font-size: 0.9rem;
}
.about-section .right-side {
  flex-basis: 50%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.about-section .right-side img {
  border-radius: 50%;
}
.about-section .right-side .big-pic {
  width: 100%;
  grid-column: 3/10;
  grid-row: 1/8;
}
.about-section .right-side .smaller-pic1 {
  width: 18rem;
  grid-column: 2/6;
  grid-row: 5/10;
}
.about-section .right-side .smaller-pic2 {
  width: 18rem;
  grid-column: 7/11;
  grid-row: 5/10;
}

.become-teacher {
  background-color: var(--light);
  display: flex;
  align-items: center;
  border-radius: 0.7rem;
}
.become-teacher img {
  width: 700px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.7rem;
}
.become-teacher .become-teacher-text {
  flex-basis: 55%;
  padding-right: 3rem;
  padding-left: 3rem;
}
.become-teacher button {
  width: 100%;
}

.centered-section {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.centered-section .description {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.teachers {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.teachers .teacher {
  width: 390px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 2rem;
}
.teachers .teacher img {
  grid-column: 1/3;
  grid-row: 1/10;
  height: 32rem;
  border-radius: 50%;
}
.teachers .teacher .teacher-info {
  background-color: white;
  grid-column: 3/4;
  grid-row: 7/10;
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.teachers .teacher .teacher-info .teacher-name {
  color: var(--dark);
  font-size: 1.8rem;
  margin-bottom: 0;
}
.teachers .teacher .teacher-info .social-media a {
  background-color: var(--primary);
}
.teachers .teacher .teacher-info .social-media a:hover {
  background-color: #fc6e4e;
  color: white;
}

.facilities {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding-top: 2rem;
}
.facilities .facility {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.facilities .facility:hover i, .facilities .facility:hover p, .facilities .facility:hover .title {
  color: white;
}
.facilities .facility .icon {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.facilities .facility .icon i {
  font-size: 2.8rem;
  margin: 0.5rem;
}
.facilities .facility .icon::before, .facilities .facility .icon::after {
  content: "";
  align-self: flex-start;
  width: 1rem;
  height: 2rem;
  border-radius: 50%;
}
.facilities .facility .facility-text {
  border-radius: 50%;
  height: 16rem;
  padding: 3rem 2.5rem;
}
.facilities .facility .facility-text .title {
  font-size: 1.8rem;
}
.facilities .first .icon, .facilities .first .facility-text, .facilities .first .icon::before, .facilities .first .icon::after {
  background-color: var(--light);
  transition: 0.5s;
}
.facilities .first .title, .facilities .first i {
  color: var(--primary);
}
.facilities .first:hover .icon, .facilities .first:hover .facility-text, .facilities .first:hover .icon::before, .facilities .first:hover .icon::after {
  background-color: var(--primary);
  transition: 0.5s;
}
.facilities .second .icon, .facilities .second .facility-text, .facilities .second .icon::before, .facilities .second .icon::after {
  background-color: var(--bg-green);
  transition: 0.5s;
}
.facilities .second .title, .facilities .second i {
  color: var(--green);
}
.facilities .second:hover .icon, .facilities .second:hover .facility-text, .facilities .second:hover .icon::before, .facilities .second:hover .icon::after {
  background-color: var(--green);
  transition: 0.5s;
}
.facilities .third .icon, .facilities .third .facility-text, .facilities .third .icon::before, .facilities .third .icon::after {
  background-color: var(--bg-yellow);
  transition: 0.5s;
}
.facilities .third .title, .facilities .third i {
  color: var(--yellow);
}
.facilities .third:hover .icon, .facilities .third:hover .facility-text, .facilities .third:hover .icon::before, .facilities .third:hover .icon::after {
  background-color: var(--yellow);
  transition: 0.5s;
}
.facilities .fourth .icon, .facilities .fourth .facility-text, .facilities .fourth .icon::before, .facilities .fourth .icon::after {
  background-color: var(--bg-bleu);
  transition: 0.5s;
}
.facilities .fourth .title, .facilities .fourth i {
  color: var(--bleu);
}
.facilities .fourth:hover .icon, .facilities .fourth:hover .facility-text, .facilities .fourth:hover .icon::before, .facilities .fourth:hover .icon::after {
  background-color: var(--bleu);
  transition: 0.5s;
}

.carousel {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 49%;
  gap: 2%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.carousel i.arrows:hover {
  background-color: var(--dark);
  transition: 0.4s;
}
.carousel .carousel-item {
  background-color: var(--light);
  border-radius: 10px;
  padding: 2.4rem;
  text-align: left;
}
.carousel .carousel-item p {
  font-size: 1.25rem;
}
.carousel .carousel-item .client {
  background-color: white;
  margin-right: -45px;
  margin-left: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carousel .carousel-item .client .client-text {
  flex-basis: 70%;
}
.carousel .carousel-item .client .client-text img {
  float: left;
  border-radius: 50%;
  width: 90px;
  margin-left: -45px;
  margin-right: 20px;
}
.carousel .carousel-item .client .client-text h3 {
  font-size: 1.8rem;
  color: var(--dark);
  padding-top: 10px;
}
.carousel .carousel-item .client .client-text p {
  font-size: 1rem;
}
.carousel .carousel-item .client i {
  font-size: 4rem;
  color: var(--primary);
  padding-right: 10px;
}

.contact ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3.5rem;
}
.contact ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}
.contact ul li i {
  background-color: var(--light);
  color: var(--primary);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-box {
  background-color: var(--light);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-bottom: 4rem;
  overflow: hidden;
}
.contact-box div {
  flex-basis: 50%;
}
.contact-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact-box div.contact-text {
  padding: 3rem 2rem;
}
.contact-box div.contact-text input, .contact-box div.contact-text textarea {
  border: none;
  outline: none;
  padding: 1rem 0.5rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  border: 3px solid transparent;
  transition: 0.4s;
}
.contact-box div.contact-text input:focus, .contact-box div.contact-text textarea:focus {
  position: relative;
  border: 3px solid rgba(254, 93, 55, 0.4);
}
.contact-box div.contact-text .half {
  width: 49%;
}
.contact-box div.contact-text button {
  width: 100%;
  border-radius: 10px;
}

.not-found svg {
  color: var(--primary);
  width: 90px;
}
.not-found h2 {
  font-size: 5rem;
  padding-bottom: 0;
}
.not-found h3 {
  color: var(--dark);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.not-found button {
  padding: 0.5rem 3rem;
  border-radius: 3rem;
}
.not-found button a {
  color: white;
}

footer {
  background-color: var(--dark);
  color: var(--semi-white);
}
footer .title {
  color: white;
  font-size: 1.7rem;
}
footer .main-footer {
  display: flex;
  padding-top: 5.5rem;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .main-footer .footer-column {
  flex-basis: 25%;
}
footer .main-footer .footer-column h3 {
  margin-bottom: 1.5rem;
}
footer .main-footer .footer-column p {
  margin-bottom: 1rem;
  color: var(--semi-white);
}
footer .main-footer .footer-column .gallery {
  display: flex;
  flex-wrap: wrap;
}
footer .main-footer .footer-column .gallery img {
  flex-basis: 25%;
  width: 4rem;
  border: 5px solid white;
  border-radius: 10%;
  margin-right: 10px;
  margin-bottom: 10px;
}
footer .main-footer .footer-column ul li {
  margin-bottom: 0.7rem;
}
footer .main-footer .footer-column a {
  color: var(--semi-white);
  text-decoration: none;
}
footer .main-footer .footer-column a:hover {
  color: var(--primary);
  font-size: bold;
  letter-spacing: 0.1rem;
  transition: 0.3s;
}
footer .main-footer .footer-column i {
  padding-right: 10px;
}
footer .main-footer .footer-column .social-media {
  margin-top: 1.5rem;
}
footer .main-footer .footer-column .social-media a {
  color: white;
  border: 1px solid var(--semi-white);
}
footer .main-footer .footer-column .social-media a:hover {
  border: transparent;
}
footer .main-footer .footer-column .social-media i {
  padding-right: 0;
}
footer .main-footer .footer-column .input {
  position: relative;
}
footer .main-footer .footer-column .input input {
  background-color: var(--dark);
  height: 3.5rem;
  border: 1px solid var(--semi-white);
  border-radius: 10px;
  color: var(--dark-grey);
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
}
footer .main-footer .footer-column .input button {
  height: 2.5rem;
  border-radius: 10px;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
footer .lower-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.9rem;
}
footer .lower-footer p {
  color: var(--semi-white);
  margin-bottom: 0;
}
footer .lower-footer i {
  font-size: 0.7rem;
}
footer .lower-footer a {
  color: white;
  padding-bottom: 2px;
  text-decoration: none;
}
footer .lower-footer a:hover {
  color: var(--primary);
}
footer .lower-footer .copyright a {
  border-bottom: 1px solid var(--semi-white);
}
footer .lower-footer ul {
  display: flex;
}
footer .lower-footer ul li {
  padding-right: 1rem;
  padding-left: 1rem;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
footer .lower-footer ul li:last-child {
  border-right: none;
  padding-right: 0;
}

.arrows {
  background-color: var(--primary);
  transition: background-color 0.4s;
  color: white;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0.7rem;
}

.go-to-top {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: #fc6e4e;
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */