// TO DO - carousel


:root {
    --primary: #fe5d37;
    --light: #FFF5F3;
    --dark: #103741;
    --dark-grey: #74787C; 
    --semi-white: rgba(255,255,255,0.5);
    --green: #198754; 
    --bg-green:#e1f0e8;
    --yellow:rgb(255, 193, 7);
    --bg-yellow:#fff9e4;
    --bleu: rgb(13, 202, 240);
    --bg-bleu:#e3f6fc;
}
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Lobster+Two:wght@700&display=swap');
//font-family: 'Heebo', sans-serif;
//font-family: 'Lobster Two', cursive;

*, *::after, *::before {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light);
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
}
h2{
    color:var(--dark);
    font-size: 2.5rem;
    padding-bottom: 1.7rem;
}
p{
    color:var(--dark-grey);
    margin-bottom: 1.2rem;
}
ul{
    list-style: none;
}
button {
    background-color: var(--primary); 
    color: white;
    font-family: 'Heebo', sans-serif;;
    font-weight: 500;
    font-size: 1em;
    border-color: transparent;
    border-radius: 20px;
    padding: 0.1rem 1rem;
    height: 3.5rem;
    cursor: pointer;
    &:hover{
        background-color:#fc6e4e;
    }
}
a{
    text-decoration:none;
    &:hover{
        color: var(--primary);
    }
}
.big-container{
    max-width: 1330px;
    margin-right: auto; 
    margin-left: auto;
    background-color: white;
}
.container{
    padding: 0.5rem 2.5rem;
}
.title {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
}
.social-media{
    display: flex; 
    a{
        display:inline-block;
        color:white;
        border: 1px solid var(--semi-white);
        width: 45px;
        height:45px;
        border-radius:50%;
        margin-right:0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        i{padding-right:0;}
                            
        &:hover{
            background-color: var(--primary);
        }   
    }        
    
}
.thick-border{
    border: 15px solid var(--light);
    transition: 0.4s;
    &:hover{
        border:15px solid var(--primary);
        transition: 0.3s;
    }
}
.top-bottom-padding{
    padding-top:5rem;
    padding-bottom:5rem;
}
.header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    a{
        text-decoration:none;
        color:var(--dark);
    }
    .logo{
        i {
            font-size: 40px;
        }
        a{
            font-size:2.5rem;
            color:var(--primary);
        }
    }
    nav {
        .main-nav{
            display: flex;  
            justify-content: space-evenly;
            color: var(--dark);
            font-weight:500;
            width:450px;
            .current{
                color: var(--primary);
            }
            .pages{
                cursor: pointer;
                position: relative;
               .extra-menu{
                    display:none;
                }
                .display-extra-menu{
                    display:block; 
                    position: absolute; 
                    top:1.3rem;
                    left:-1rem;
                    background-color:white;
                    padding: 3rem 0 1rem 0;
                    width: 170px;
                    border-radius: 15px;
                    li{
                        padding-bottom: 0.3rem;
                        padding-top: 0.3rem;
                        a{
                            font-weight:normal;
                            padding-left:1rem;
                        }
                        a:hover{
                            color:var(--dark);
                        }
                        &:hover{
                            background-color: #e5e7e8;
                        }
                        &:active{
                            background-color:var(--primary);
                            a{color:white;}
                        }
                    }
                    li.current-2 {
                        background-color:var(--primary);
                        a{color:white;}
                    }
                }
            } 
        }
    }
    .join-us{
        height: 2.5rem;
        width: 8rem;
        a {color: white;}    
    }
}
.header.container{
        padding: 1.2rem 2.8rem;
}

.hero-section{
    min-height: 300px; 
    color: white;
    background-color: rgba(0,0,0,0.25);
    background-image:url("../img/carousel-1.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    &::before{
        content:'';
        display:block;
        background-image: url("../img/bg-header-top.png");
        background-repeat: repeat-x;
        height: 10px;  
    }
    &::after{
        content:'';
        display:block;
        background-image: url("../img/bg-header-bottom.png");
        background-repeat: repeat-x;
        height: 19px; 
    }
    .container{
        height: 300px;
        display:flex; 
        flex-direction: column;
        justify-content: center;
    }
    h1{
        font-size: 4.5rem;
    }
}

.about-section{

    color:var(--dark);
    display: flex;
    .left-side{
        flex-basis:50%;
        margin-top: 10rem;
        padding-right: 2rem;
        .more-ceo{
            display:flex;
            align-items: center;
            button{
                flex-basis:30%;
                border-radius:30px;
            }
            .ceo{
                flex-basis:65%;
                img{
                    height:45px;
                    border-radius:50%;
                    float:left;
                    margin-left:8rem;
                    margin-right: 10px;
                }
                .ceo-name{
                    color:var(--primary);
                    font-weight:500;
                }
                .ceo-designation{
                    font-size: 0.9rem;
                }
            }
        }
    }
    .right-side{
        flex-basis:50%;
        margin-top:5rem;
        display:grid; 
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        img{
            border-radius:50%;
        }
        .big-pic{
            width:100%;
            grid-column:3/10; 
            grid-row:1/8;
        }
        .smaller-pic1{
            width:18rem;
            grid-column:2/6; 
            grid-row:5/10;
        }
        .smaller-pic2{
            width:18rem;
            grid-column:7/11; 
            grid-row:5/10;
        }
    }
}

.become-teacher{
    background-color: var(--light);
    display:flex; 
    align-items: center;
    border-radius:0.7rem;
    img{
        width:700px;
        height:400px;
        object-fit:cover;
        border-radius:0.7rem;
    }
    .become-teacher-text{
        flex-basis:55%;
        padding-right: 3rem;
        padding-left: 3rem;
    }
    button {
        width:100%;
    }
}

.centered-section{
    text-align: center;
    padding-top:5rem;
    padding-bottom:5rem;
    .description {
        width:600px;
        margin-right: auto; 
        margin-left:auto;
    }             
}

.teachers{
    padding-top:1rem;
    display:flex;
    justify-content: space-between;
    .teacher{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        img{
            grid-column: 1/3;
            grid-row:1/10;
            height:32rem;
            border-radius:50%;
        }
        .teacher-info{
            background-color: white;
            grid-column:3/4;
            grid-row:7/10;
            width:15rem;
            height:15rem;
            display: flex;
            flex-direction: column;
            align-items:  center;
            justify-content: center;
            border-radius:50%;
            .teacher-name{
                color:var(--dark); 
                font-size:1.8rem;
                margin-bottom:0;
            }
            //.designation {}
            .social-media{
                a{
                    background-color: var(--primary);
                    &:hover{
                        background-color:#fc6e4e;
                        color:white;
                    }
                }
            }

        }
    }
}
 
.facilities{
    display: flex;
    justify-content: space-between;
    gap:1.5rem;
    padding-top:2rem;
    .facility{
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover{
            i, p, .title{
                color:white;
            }
        }
        .icon{
            height:6rem;
            width:6rem;
            border-radius:50%;
            display:flex;
            justify-content: center;
            align-items: center;
            i{
                font-size:2.8rem;
                margin:0.5rem;
            }
            &::before, &::after{
                content:'';
                align-self: flex-start; 
                width:1rem;
                height:2rem;
                border-radius:50%;
            }
        }
        .facility-text{ 
            border-radius:50%;
            height:16rem;
            .title{
                font-size:1.8rem;
            }
            padding:3rem 2.5rem;
        }
    }
    .first{
        .icon, .facility-text, .icon::before, .icon::after{
            background-color: var(--light);  
            transition: 0.5s;
        } 
        .title, i{
            color:var(--primary);
        }
        &:hover{
            .icon, .facility-text, .icon::before, .icon::after{
                background-color: var(--primary);
                transition:0.5s;
            } 
        }     
    }
    .second{
        .icon, .facility-text, .icon::before, .icon::after{
            background-color: var(--bg-green); 
            transition: 0.5s; 
        } 
        .title, i{
            color:var(--green);
        }
        &:hover{
            .icon, .facility-text, .icon::before, .icon::after{
                background-color: var(--green);
                transition: 0.5s;
            } 
        }     
    }
    .third{
        .icon, .facility-text, .icon::before, .icon::after{
            background-color: var(--bg-yellow); 
            transition: 0.5s; 
        } 
        .title, i{
            color:var(--yellow);
        }
        &:hover{
            .icon, .facility-text, .icon::before, .icon::after{
                background-color: var(--yellow);
                transition: 0.5s;
            } 
        }     
    }
    .fourth{
        .icon, .facility-text, .icon::before, .icon::after{
            background-color: var(--bg-bleu);
            transition: 0.5s;  
        } 
        .title, i{
            color:var(--bleu);
        }
        &:hover{
            .icon, .facility-text, .icon::before, .icon::after{
                background-color: var(--bleu);
                transition: 0.5s;
            } 
        }     
    }
}

.carousel{
    max-width:1200px;
    margin-right:auto; 
    margin-left:auto; 
    display: grid;     
    grid-auto-flow: column;  
    //overflow:hidden;  
    grid-auto-columns: 49%;
    gap:2%;
    margin-top:3rem;
    margin-bottom:2rem;
    i.arrows:hover{
        background-color: var(--dark);
        transition:0.4s;
    }
    .carousel-item{
        background-color:var(--light);
        border-radius:10px;
        padding:2.4rem;
        text-align: left;
        p{
            font-size:1.25rem;
        }
        .client{
            background-color: white;
            margin-right:-45px;
            margin-left:45px;
            display:flex;
            align-items: center;
            justify-content: space-between;
            .client-text{
                flex-basis:70%;
               img{
                    float:left;
                    border-radius:50%;
                    width:90px;
                    margin-left:-45px;
                    margin-right:20px;
                }
                h3{
                    font-size:1.8rem;
                    color:var(--dark);
                    padding-top:10px;
                }
                p{
                    font-size:1rem;
                }
            }
            i{  
               font-size: 4rem;
               color: var(--primary);
               padding-right:10px;
            }
        }
    }

}

footer{
    background-color: var(--dark);
    color: var(--semi-white);
    .title {
        color:white;
        font-size:1.7rem;
    }
    .main-footer{
        display: flex;
        padding-top:5.5rem;
        padding-bottom:1.8rem;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        .footer-column{
            flex-basis:25%;
            h3{
                margin-bottom: 1.5rem;
            }
            p{
                margin-bottom: 1rem;
                color: var(--semi-white);
            }
            .gallery{
                display:flex;
                flex-wrap:wrap; 
                img{
                flex-basis:25%;
                width:4rem;
                border: 5px solid white;
                border-radius:10%;
                margin-right: 10px;
                margin-bottom:10px;
                }
            }
            ul{
                li{
                    margin-bottom:0.7rem;
                }
            }
            a {
                color: var(--semi-white);
                text-decoration: none;
                &:hover{
                    color: var(--primary);
                    font-size:bold;
                    letter-spacing: 0.1rem;
                    transition:0.3s;
                    }
            }
            i {
                padding-right:10px;
            }
            .social-media{
                margin-top: 1.5rem;
                a{
                    color:white;
                    border: 1px solid var(--semi-white);
                    &:hover{
                        border:transparent;
                    }
                }
                i{padding-right:0;}
            }                
            .input{
                position: relative;
                
                input{
                    background-color: var(--dark);
                    height: 3.5rem;
                    border: 1px solid var(--semi-white);
                    border-radius: 10px;
                    color: var(--dark-grey);
                    font-size:1rem;
                    padding: 1rem;   
                    width:100%;
                }

                button{
                    height:2.5rem;
                    border-radius: 10px;
                    position:absolute; 
                    top:0.5rem; 
                    right: 0.5rem;   
                }
            }    
        }    
    }
    
    .lower-footer{
        display: flex;
        justify-content: space-between;
        padding-top:1.5rem;
        padding-bottom:1.5rem;
        font-size: 0.9rem;
        p{ color:var(--semi-white);
            margin-bottom:0;}
        i{
            font-size:0.7rem;
        }
        a{
            color: white;
            padding-bottom:2px;
            text-decoration: none; 
            &:hover{
            color: var(--primary);
            }
        }
        .copyright a{
            border-bottom: 1px solid var(--semi-white);
        }
        ul{
            display: flex;
            li{
                padding-right: 1rem;
                padding-left: 1rem;
                border-right: 1px solid rgba(255, 255, 255, .1);
                &:last-child{
                    border-right:none;
                    padding-right:0;
                }
            }
        }
    }
}
.arrows{
    background-color: var(--primary);
    transition: background-color 0.4s;
    color: white;
    height: 45px;
    width: 45px;
    border-radius:50%;
    text-align: center;
    font-size:1.5rem;
    padding-top: 0.7rem;
}
.go-to-top{
    position:fixed; 
    bottom:50px; 
    right: 30px;
}